@media screen and (max-width: 480px) {
  .left-bar{
    display: none;
  }
  .user{
    flex-direction:column;
  }

  .menu{
    flex-direction: column;
    justify-content: flex-start;
  }

  .right-menu{
    justify-content: flex-start;
    flex-direction: column;
  }
}
