.links {
  display: flex;
  justify-content: flex-end;
  background-color: #999999;
  padding: 10px 0px;
}

.links a{
  text-decoration: none;
  font-family: fantasy;
  font-size: 16px;
  color: #ffffff;
  margin-right: 8px;
}

.links.test a{
  color: red;
}

ul li,ol li{
  border: 1px solid #aeaa2c;
}

.item {
  border: 1px solid #7fa5d2;
  margin: 10px 2px;
  height: 900px;
  color: #c2b1a7;
}

clothes>span:after{
  content: 'Sale 10% Off'

}
